extend ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th Username
						th Insert time
						th Check
						th Update
						th delete
					tbody
						each item in categories
							tr(class="item-id-#{item._id}")
								td #{item.name}
								td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
								td: a(target="_blank", href="../movie/#{item._id}") check
								td: a(target="_blank", href="../admin/update/#{item._id}") update
								td
									button.btn.btn-danger.del(type="button", data-id="#{item._id}") delete
	//- script(src="/js/admin.js")